/* Reset and body */
body, html {
    margin: 0;
    font-family: "Emilys Candy", sans-serif;
    background-color: #f3c0cb;
}

/* Envelope Screen */
.envelope-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

/* Heading */
.envelope-screen h1 {
    font-size: 2.5em;
    color: #b3596c;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}


/* Heart image */
#heart-image {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

/* Subtitle */
.envelope-screen p {
    font-size: 1.2em;
    color: #b3596c;
    margin-top: 10px;
}

/* Buttons container */
.envelope-screen .buttons {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

/* Buttons */
.envelope-screen button {
    padding: 15px 25px;
    font-size: 30px;
    line-height: 1;
    color: #ffe6f0; /* text color: light pink */
    font-family: 'Emilys Candy', cursive; /* font for button text */
    background-color: #b3596c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Button hover */
.envelope-screen button:hover {
    background-color: #d46c8c;
}


/* Button click animation */
.button-animate {
    animation: clickEffect 0.5s forwards;
}

@keyframes clickEffect {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.8; }
    100% { transform: scale(0); opacity: 0; }
}
